<div class="addcontainer">

    <div class="confiremession-model">
        <div class="logo-container">

            <div class="logo">
                <h1> <i class="fa-solid fa-question"></i></h1>

            </div>

        </div>
        <div class="confirm-message-1">
            <p>Why do you want to cancel your booking?</p>

            <label><input type="checkbox" id="box"> Personal preference or choice</label>
            <label> <input type="checkbox" id="box"> Change in function plans or itinerary</label>
            <label> <input type="checkbox" id="box"> Double booking or scheduling conflicts</label>

            <p id="btn"><button id="cancelBtn">Cancel</button> <button type="button" id="okBtns">Ok</button>
            </p>
        </div>
    </div>













    <div class="add-container">
        <div class="main">
            <div class="title">
                <h3>🏰Venuemahal.com</h3>
            </div>
            <div class="logo">
                <ul>
                    <li><i class="fa-solid fa-bag-shopping"></i> My Card</li>
                    <li><i class="fa-regular fa-heart"></i></li>
                    <li><i class="fa-regular fa-user"></i></li>
                    <li id="x-marks"><i class="fa-brands fa-x-twitter"></i></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="scroll-bar" id="parent">
                            {{!-- <div class="contents">
                                <table>
                                    <tr>
                                        <td><img src="https://img.weddingbazaar.com/shaadisaga_production/photos/pictures/006/997/573/new_medium/ss20230607-13853-4eas9z.jpg?1686168639"
                                                alt="no" width="100px" height="100px"></td>
                                        <td id="par">
                                            <h6>Kalyana mandapa name</h6>
                                            <p>district</p>
                                            <p>addess</p>
                                            <p>8999-72903 people</p>
                                        </td>
                                        <td>
                                            <h6>Booking Date</h6>
                                            <p>2024-03-13</p>
                                        </td>
                                        <td>
                                            <h6>Amount</h6>
                                            <p>Rs.10000</p>
                                        </td>
                                    </tr>
                                </table>
                            </div> --}}


                        </div>

                        <div class="total-container">
                            <h4>Total Amount: <span id="tot1"> Rs.</span> <span id="tot">0</span></h4>
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <div class="card-container text-center" id="card-container">

                            {{!-- <div class="image-card">
                                <img src="../images/taj_palace_delhi.avif" alt="">
                            </div>
                            <div class="card-details text-start">
                                <h6>Thiruna mandapama</h6>
                                <p>city</p>
                                <p>District</p>
                                <p>Amount: Rs.4000</p>
                                <button id="btn1">Pay</button>
                                <button id="btn2">Delete</button>
                            </div> --}}

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>