<div class="input-container">
    <input type="text" placeholder="Enter in your District" id="search-input" list="disticlist" name="distic"
        autocomplete="off" style="color: black;">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    <div class="suggestion" id="suggestion">
        {{!-- <ul>
            <li>Webdesigning</li>
            <li>Webdesigning</li>

        </ul> --}}
    </div>
</div>