<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="../css/404.css">
    <link rel="icon" type="image/x-icon" href="/images/head1.jpg">
</head>

<body>
    <section id="caveman_section">
        <h1 class="title" style="opacity: .8;">404</h1>
        <div class="caveman">
            <h1>Look like you're lost</h1>
            <p>the page you are looking for not available!</p>
            <a href="">Go to Home</a>
        </div>
    </section>
</body>

</html>