<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue mahal</title>
    <link rel="stylesheet" href="../css/demo.css">
</head>
<body>
    <div class="photo-img">
        <img src="../images/img2.jpg" alt="no-image">
        <div class="img-information">
            <h2>Event Organization</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur maxime nulla sunt deleniti repellat. Recusandae hic id rerum in laborum, quis ex sunt ipsum laudantium eaque, consequatur odio itaque animi!</p>
            <button>Confirme</button>
        </div>
    </div>
</body>
</html>

<img src="" alt="" style="margin: 2px auto;">